.container{
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #FFF2BF;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.categoryButton {
    background: #FFF2BF;
    color: black;
    border-radius: 5px solid black; 
    font-size: 0.9rem;
    width: 100px;
    cursor: pointer;
    font-weight: bold;
}

.arrow {
    margin-left: 0.5rem;
    rotate: 45deg;
}
.containelinks{
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #FFF2BF;
    align-items: right;
    justify-content: 'flex-end'
}